<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/listings.css" />
</head>
<body>
  <% if (user) { %>
    <h1 class="page-heading">Homes near you, <%= user.username %>!</h1>
    <div class="action-buttons">
      <a href="/listings/new" class="btn add-btn">+ Add New Listing</a>
      <a href="/auth/sign-out" class="btn signout-btn">Sign Out</a>
    </div>
  <% } else { %>
    <h1 class="page-heading">Welcome to the app, guest.</h1>
    <div class="action-buttons">
      <a href="/auth/sign-in" class="btn signout-btn">Sign In</a>
    </div>
  <% } %>


  <div class="listing-grid">
    <% listings.forEach(listing => { %>
      <div class="listing-card">
        <h3><%= listing.city %> - $<%= listing.price %></h3>
        <p><%= listing.description %></p>
        <a class="view-btn" href="/listings/<%= listing._id %>">View Details</a>
      </div>
    <% }) %>
  </div>
  

</body>
</html>

