<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/listings.css" />
</head>
<body>
  <% if (user) { %>
    <h1>Homes near you, <%= user.username %>!</h1>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <h1>Welcome to the app, guest.</h1>
  
  <% } %>
  <a href="/listings/new">Add New Listing</a>

  <div class="listing-grid">
    <% listings.forEach(listing => { %>
      <div class="listing-card">
        <h3><%= listing.city %> - $<%= listing.price %></h3>
        <p><%= listing.description %></p>
        <a class="view-btn" href="/listings/<%= listing._id %>">View Details</a>
      </div>
    <% }) %>
  </div>
  

</body>
</html>

